@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-danger mt-4">
	<h5>Access Denied</h5>
	<p>You do not have permission to access this resource.</p>
	<a href="/Account/Login" class="btn btn-primary">Go to Login</a>
</div>


